@charset "UTF-8";

body{
    color: rgb(2, 79, 82); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
    text-align: center;
}

h2{
    color: brown;
}

p{
    text-align:justify;
    color: rgb(43, 1, 82);
    font-style: italic;
    text-align: center;
    
    
}

h3{
    color: rgb(44, 87, 2);
    font-size: 2em;
}
